---
    import * as StoryModel from "../../loaders/episodicdic";

    import SelectedRecord from "./selectedrecord.svelte";

    type Props = {
        current_record_name: string,
    };

    const {current_record_name} = Astro.props;

    const story = await StoryModel.get();

    const records_with_chapter = story.records.map(record => [record.chapter, record] as [string, StoryModel.RecordEntryModel]);
    const story_by_chapter = records_with_chapter.reduce((acc, [chapter, record]) => {
        if (chapter in acc) {
            acc[chapter].push(record);
        } else {
            acc[chapter] = [record];
        }
        return acc;
    }, {} as {[key: string]: Array<StoryModel.RecordEntryModel>});

    const all_chapters = Object.keys(story_by_chapter);
---

<div class="record-select">
    {all_chapters.map(chapter_name => (
        <div class="chapter-heading-container">
            <p class="chapter-heading">{chapter_name}</p>
            <div class="chapter-heading-fill"></div>
        </div>
        <ul class="chapter-records-list">
            {story_by_chapter[chapter_name].map(record => (
                <li class="record-link-container">
                    <a class:list={["record-link", {"current-link": current_record_name === record.name}]} href={`/record/${chapter_name}/${record.name}`}>
                        {current_record_name === record.name ?
                            record.name
                            : `${StoryModel.get_iteration_sigil(record.iteration)} | ${record.name}`
                        }
                    </a>
                </li>
            ))}
        </ul>
    ))}
</div>

<style lang="scss">
    .record-select {
        max-height: 200px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px;
    }

    .record-link {
        font-family: "lmmono";
        font-size: 1.2em;
    }

    .chapter-heading-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .chapter-heading {
        font-family: "lmmono";
        margin: 0;
    }

    .chapter-heading-fill {
        width: 100%; 
        height: 1px;
        margin: 10px 0 10px 10px;
        border-bottom: 1px solid #666;
    }

    .chapter-records-list {
        list-style: none;
    }

    .record-link-container {
        width: 100%;
    }

    .record-link {
        display: block;
        color: var(--accent);
        text-decoration: none;
        width: 100%;
        padding-left: 10px;
    }
    
    .record-link:hover {
        background-color: var(--accent-light);
        font-weight: 800;
    }

    .current-link {
        font-size: 40px;
        padding: 0 50px 0 50px;
        background-color: var(--accent-light);
    }
</style>